html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: #fdfdfd;
  color: #22262A;

}
.container{
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}