.copyright__row{
  background: #E7F5F8;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    display: block;
    font-weight: 400;
    font-size: 15px;
  }
}