.footer__row{
  display: flex;
  margin-top: -10px;
  background: #F2F8FC;
  padding-bottom: 120px;
}

.container{
  padding-right: 23px;
}

.footer_first-block{
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer__box{
  margin-left: 230px;
  display: flex;
  flex-direction: column;

  h1{
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
  }

  p {
    margin-top: 17px;
    max-width: 406px;
    font-weight: 400;
    font-size: 15px;
  }
  ul {
    margin-top: 41px;

    li{
      font-weight: 400;
      font-size: 15px;
      line-height: 1;
    }
  }
  a {
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
  }
  #number{
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
  }
  #icons{
    margin-top: 16px;
    display: flex;
    li {
      font-weight: 400;
      font-size: 15px;
      line-height: 1;

      a {
        text-decoration: none;
        margin-right: 20px;
      }
    }
  }

}