.header{
  position: relative;
}

.text-block{
  position: absolute;
  top: 55%;
  left: 55%;

  h1 {
    font-size: 80px;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    font-weight: 500;
    padding-bottom: 20px;
  }
}

.header__buttons{
  ul{
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 34px;
    background: #22262A;
    padding-left: 29px;
    padding-right: 28px;
  }

  a{
    color: #fdfdfd;
    text-decoration: none;
  }
}